.customImageInput {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 16px 12px;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  height: 77px;
}

.center {
  display: flex;
  align-self: center;
  justify-content: center;
}

.OR {
  font-weight: 400;
  font-size: 15px;
  color: #b3b3b3;
}

.customFileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 16px 12px;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.customImageInput {
  border: none;
  background-color: white;
  background-position: 17px 20px;
  background-repeat: no-repeat;
  padding-left: 80px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.submitButton {
  margin-top: 28px;
  background: #399700;
  border-radius: 10px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.event_type_text {
  font-size: 18px;
  color: #3c3c3c;
}

.submitButtonText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.card_event {
  background: white;
  border-radius: 20px;
  border: 2px solid #bcbcbc;
  margin-bottom: 10px;
}
.tableHeader_Event {
  color: #16227f;
  font-weight: 800;
  font-size: 15px;
}
.container,
.innerContainer,
.upcomingHeading,
.innerHeader,
.tableItem {
  display: none !important;
}
@media (max-width: 900px) {
  .container,
  .innerContainer,
  .upcomingHeading,
  .innerHeader,
  .tableItem {
    display: flex !important;
  }
  .event_type_text {
    font-size: 14px;
    color: #3c3c3c;
  }
  .card_event {
    display: none;
  }
  .checkedinusers_card {
    display: none;
  }
}

.container {
  display: flex;
  min-height: 100%;
  border-radius: 10px;
  flex-direction: column;
}

.innerContainer {
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  min-height: 14.6vh;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.upcomingHeader {
  font-size: 16px;
  padding: 0px 0px 0px 8px;
  font-weight: 100;
  color: #8c8c8c;
}
.innerHeader {
  font-size: 12px;
  padding: 10px 10px 0px 10px;
  font-weight: 100;
  color: #3c3c3c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rewardImageDiv {
  border-radius: 5px;
  overflow: hidden;
}

.tableItem {
  display: flex;
  flex-direction: row;
  min-height: 2.6vh;
  background-color: white;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  justify-content: space-between;
  font-size: 11.5px;
  align-items: center;
  color: #16227f;
  font-weight: bolder;
  padding: 4px 10px;
}
.tableValue {
  color: #8c8c8c;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editButton {
  min-height: 20px;
  max-height: 20px;
  width: 20px;
  background-color: #16227f;
  border-radius: 20px;
}

.eventBoxAlignment {
  margin-bottom: 7px;
}

.editEventRoute {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.marker {
  height: 14px;
  width: 14px;
}
.markerGameProgram {
  height: 14px;
  width: 18px;
  margin-top: 2px;
}
.rewardName {
  border-radius: 5px;
  overflow: hidden;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
}