.customModal {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-right: 45px;
}

.forgotPwText {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.loginInputs_forgetpw {
  width: 100%;
}

.loginInputs_forgetpw {
  width: 100%;
}

.enterText {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: block;
  width: 295px;
  text-align: center;
  color: #8c8c8c;
}

.submitButton {
  margin-top: 20px;
  margin-bottom: 40px;
  background: #16227f;
  border-radius: 10px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitButtonText {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .inputWidth {
    width: 580px;
    height: 55px;
  }
  .enterText {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .inputWidth {
    width: 300px;
    height: 50px;
  }
}

/* @media (max-width: 424px) {
  .customModal {
    margin-left: 26px;
    margin-right: 26px;
  }

  .forgotPwText {
    text-align: left;
    font-size: 14px;
  }

  .enterText {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    display: block;
    width: 249px;
    margin-bottom: -15px;
  }

  .submitButton {
    margin-top: 8px;
    margin-bottom: 30px;
    height: 40px;
    width: 90%;
  }

  .submitButtonText {
    font-size: 15px;
  }

  .loginInputs_forgetpw {
    margin-top: -40px;
  }
} */

/* @media (max-width: 424px) {
  .customModal {
    margin-left: 26px;
    margin-right: 26px;
  }

  .inputWidth {
    width: 300px;
    height: 50px;
  }

  .forgotPwText {
    font-size: 14px;
  }

  .enterText {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    display: block;
    width: 249px;
    margin-bottom: -15px;
  }

  .submitButtonText {
    font-size: 15px;
  }

  .loginInputs_forgetpw {
    margin-top: -40px;
  }
} */
/* @media (max-width: 768px) {
  .forgotPwText {
    text-align: left;
    font-size: 16px;
  }
  .enterText {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
  }
} */
@media (max-width: 768px) {
  .customModal {
    margin-left: 26px;
    margin-right: 26px;
  }

  .forgotPwText {
    font-size: 14px;
    text-align: left;
    line-height: 25px;
  }

  .enterText {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    display: block;
    width: 249px;
    margin-bottom: -15px;
  }

  .submitButton {
    margin-top: 8px;
    margin-bottom: 30px;
    height: 40px;
  }

  .submitButtonText {
    font-size: 15px;
  }

  .loginInputs_forgetpw {
    margin-top: -40px;
  }
}
/* @media (min-width: 769px) and (max-width: 1024px) {
  .customModal {
    margin-left: 40px;
    margin-right: 40px;
    height: 22rem;
  }
  .inputWidth {
    width: 580px;
    height: 55px;
  }

  .forgotPwText {
    font-size: 22px;
  }
  .loginInputs_forgetpw {
    width: 100%;
  }

  .enterText {
    font-size: 14px;
    width: 270px;
  }
} */
