#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  max-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  border-radius: 14px;
  z-index: 1;
  left: 10%;
  bottom: 70px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 60px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 60px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 60px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}


@media (max-width:768px) {
  #snackbar {
    padding: 16px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }
}

@media (min-width:769px) and (max-width:1440px){
  #snackbar {
    padding: 16px;
    position: absolute;
    right: 0;
    left: 140px;
  }
}