.customModal {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-right: 45px;
}

.forgotPwText {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
}

.enterText {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: block;
  width: 295px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #8c8c8c;
}

.submitButton {
  margin-top: 20px;
  margin-bottom: 40px;
  background: #16227f;
  border-radius: 10px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitButtonText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .inputWidth {
    width: 580px;
    height: 55px;
  }
  .submitButton {
    font-size: 28px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .inputWidth {
    width: 300px;
    height: 50px;
  }
  .customModal {
    margin-left: 26px;
    margin-right: 26px;

  }
  .submitButtonText {
    font-size: 15px;
    height: 50px;
    line-height: 48px;
  }
}
